body{
	margin: 0;
	position: relative;
}

#nav_blog{
	margin-right: 5em;
}

a{
	text-decoration: none;
	color: cornflowerblue;
}

nav li a{
	color: #fff;
}

nav li:hover{
	border-bottom: 2px solid #fff;
}

.headerfooter{
	font-family: Roboto;
	width: 100%;

	background-color: #ff3344;
	height: 3em;
	box-shadow: 0 2px rgba(0, 0, 0, 0.5);
}

.headerfooter ul{
	width: 20em;
	margin: 0 auto;
}

.headerfooter li{
	list-style-type: none;
	display: inline-block;
	width: auto;
	color: rgb(255, 255, 255);
	font-family: Roboto;
	font-size: 1.2em;
	font-weight: 500;
	padding-top: 0.5em;
}

.headerfooter li a{
	text-decoration: none;
	color: #fff;
}

.headerfooter li:hover{
	border-bottom: 2px solid #fff;
}

nav{
	position: fixed;
	top: 0;
}

footer{
	position: fixed;
	bottom: 0;
}

li.right{
	margin-right: 2em;
}

#main{
	width: 70%;
	margin: 0 auto;
	background-color: rgb(200, 200, 200);
}

#main p{
	padding: 3em;
	color: rgba(50, 50, 50, 1);
	font-family: 'Roboto Slab';
	font-weight: 300;
	width: 80%;
	margin: 0 auto;
	margin-top: 3em;

}

#boxes-container{
	width: 70%;
	margin: 0 auto;
	padding-left: 2em;
}

.boxes{
	width: 15em;
	height: 15em;
	margin: 0 auto;
	display: inline-block;
	margin-top: 0.2em;
	/*border-radius: 1em;*/
	text-align: center;
}

.boxes p{
	text-align: justify;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	font-family: Roboto;
	font-size: 0.8em;
}

.boxes h2{
	font-family: 'Roboto';
	text-decoration: underline;
}

.right-border{
	border-right: 1px dotted #999;
}

#r{
	color: red;
}

#g{
	color: green;
}

#b{
	color: blue;
}

.boxes p:hover{
	color: #999;
}

#r button{
	background-color: DodgerBlue;
	border: none;
	border-radius: 2px;
	height: 30px;
	color: #fff;
	font-family: Ubuntu;
}

#g button{
	background-color: DodgerBlue;
	border: none;
	border-radius: 2px;
	height: 30px;
	color: #fff;
	font-family: Ubuntu;
}

#b button{
	background-color: DodgerBlue;
	border: none;
	border-radius: 2px;
	height: 30px;
	color: #fff;
	font-family: Ubuntu;
}

#main p{
	padding-bottom: 3em;
}